<a href="https://colab.research.google.com/github/dilaraesmer/miuul_python_notes/blob/main/miuul_python_notes_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

List Comprehension

In [1]:
name = ["funda", "levent", "melih", "melis", "dilara"]
newlist = []

for x in name:
  if "e" in x:
    newlist.append(x)

print(newlist)

['levent', 'melih', 'melis']

In [2]:
salaries = [1000,2000,3000,4000,5000]
def new_salary(x):
 return x * 20 / 100 + x
null_list = []
for salary in salaries:
  if salary > 3000:
    null_list.append(new_salary(salary))
else:
  null_list.append(new_salary(salary * 2))

In [3]:
[new_salary(salary * 2) if salary < 3000 else new_salary(salary) for salary in salaries]

[2400.0, 4800.0, 3600.0, 4800.0, 6000.0]

In [4]:
[salary * 2 for salary in salaries]

[2000, 4000, 6000, 8000, 10000]

In [5]:
[salary * 2 for salary in salaries if salary < 3000]

[2000, 4000]

In [6]:
[salary * 2 if salary < 3000 else salary * 0 for salary in salaries ]

[2000, 4000, 0, 0, 0]

In [7]:
[new_salary(salary * 2) if salary < 3000 else new_salary(salary * 0.2) for salary in salaries]

[2400.0, 4800.0, 720.0, 960.0, 1200.0]

In [8]:
students = ["Merve", "Defne", "Okan", "Emek"]

students_no = ["Okan", "Defne"]

[student.upper() if student in students_no else student.lower() for student in students]

['merve', 'DEFNE', 'OKAN', 'emek']

In [9]:
dictionary = {'a': 1,
              'b': 2,
              'c': 3,
              'd': 4}

dictionary.keys()
dictionary.values()
dictionary.items()

dict_items([('a', 1), ('b', 2), ('c', 3), ('d', 4)])

In [10]:
{k: v ** 2 for (k,v) in dictionary.items()}

{'a': 1, 'b': 4, 'c': 9, 'd': 16}

In [11]:
{k.upper(): v for (k,v) in dictionary.items()}

{'A': 1, 'B': 2, 'C': 3, 'D': 4}

In [12]:
{k.upper(): v ** 2 for (k,v) in dictionary.items()}

{'A': 1, 'B': 4, 'C': 9, 'D': 16}

In [13]:
{k.lower(): v ** 3 for (k,v) in dictionary.items()}

{'a': 1, 'b': 8, 'c': 27, 'd': 64}

In [14]:
numbers = range(10)
new_dict = {}

for n in numbers:
  if n % 2 == 0:
    new_dict[n] = n ** 2
    print(new_dict)

{0: 0}
{0: 0, 2: 4}
{0: 0, 2: 4, 4: 16}
{0: 0, 2: 4, 4: 16, 6: 36}
{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [15]:
{n: n ** 2 for n in numbers if n % 2 == 0}

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [16]:
import seaborn as sns 
df = sns.load_dataset("car_crashes")
df.columns

Index(['total', 'speeding', 'alcohol', 'not_distracted', 'no_previous',
       'ins_premium', 'ins_losses', 'abbrev'],
      dtype='object')

In [17]:
for col in df.columns:
  print(col.upper())

TOTAL
SPEEDING
ALCOHOL
NOT_DISTRACTED
NO_PREVIOUS
INS_PREMIUM
INS_LOSSES
ABBREV

In [18]:
A = []
for col in df.columns:
  A.append(col.upper())
A

['TOTAL',
 'SPEEDING',
 'ALCOHOL',
 'NOT_DISTRACTED',
 'NO_PREVIOUS',
 'INS_PREMIUM',
 'INS_LOSSES',
 'ABBREV']

In [19]:
df.columns = A

In [20]:
A

['TOTAL',
 'SPEEDING',
 'ALCOHOL',
 'NOT_DISTRACTED',
 'NO_PREVIOUS',
 'INS_PREMIUM',
 'INS_LOSSES',
 'ABBREV']

In [22]:
df = sns.load_dataset("car_crashes")
df.columns = [col.upper() for col in df.columns]
df.columns

Index(['TOTAL', 'SPEEDING', 'ALCOHOL', 'NOT_DISTRACTED', 'NO_PREVIOUS',
       'INS_PREMIUM', 'INS_LOSSES', 'ABBREV'],
      dtype='object')

In [21]:
[col for col in df.columns if "INS" in col]

['INS_PREMIUM', 'INS_LOSSES']

In [23]:
["FLAG_" + col for col in df.columns if "INS" in col]

['FLAG_INS_PREMIUM', 'FLAG_INS_LOSSES']

In [24]:
["FLAG_" + col if "INS" in col else "NO_FLAG_" + col for col in df.columns]

['NO_FLAG_TOTAL',
 'NO_FLAG_SPEEDING',
 'NO_FLAG_ALCOHOL',
 'NO_FLAG_NOT_DISTRACTED',
 'NO_FLAG_NO_PREVIOUS',
 'FLAG_INS_PREMIUM',
 'FLAG_INS_LOSSES',
 'NO_FLAG_ABBREV']

In [25]:
num_cols = [col for col in df.columns if df[col].dtype != "O"]
num_cols

['TOTAL',
 'SPEEDING',
 'ALCOHOL',
 'NOT_DISTRACTED',
 'NO_PREVIOUS',
 'INS_PREMIUM',
 'INS_LOSSES']

In [26]:
num_cols = [col for col in df.columns if df[col].dtype == "O"]
num_cols

['ABBREV']

In [27]:
num_cols = [col for col in df.columns if df[col].dtype != "O"]
soz = {}
agg_list = ["mean", "min", "max", "sum"]
agg_list

['mean', 'min', 'max', 'sum']

In [28]:
for col in num_cols:
  soz[col] = agg_list

In [29]:
soz

{'TOTAL': ['mean', 'min', 'max', 'sum'],
 'SPEEDING': ['mean', 'min', 'max', 'sum'],
 'ALCOHOL': ['mean', 'min', 'max', 'sum'],
 'NOT_DISTRACTED': ['mean', 'min', 'max', 'sum'],
 'NO_PREVIOUS': ['mean', 'min', 'max', 'sum'],
 'INS_PREMIUM': ['mean', 'min', 'max', 'sum'],
 'INS_LOSSES': ['mean', 'min', 'max', 'sum']}

In [30]:
{col: agg_list for col in num_cols}

{'TOTAL': ['mean', 'min', 'max', 'sum'],
 'SPEEDING': ['mean', 'min', 'max', 'sum'],
 'ALCOHOL': ['mean', 'min', 'max', 'sum'],
 'NOT_DISTRACTED': ['mean', 'min', 'max', 'sum'],
 'NO_PREVIOUS': ['mean', 'min', 'max', 'sum'],
 'INS_PREMIUM': ['mean', 'min', 'max', 'sum'],
 'INS_LOSSES': ['mean', 'min', 'max', 'sum']}

In [31]:
df[num_cols].head()

,TOTAL,SPEEDING,ALCOHOL,NOT_DISTRACTED,NO_PREVIOUS,INS_PREMIUM,INS_LOSSES
0,18.8,7.332,5.640,18.048,15.040,784.55,145.08
1,18.1,7.421,4.525,16.290,17.014,1053.48,133.93
2,18.6,6.510,5.208,15.624,17.856,899.47,110.35
3,22.4,4.032,5.824,21.056,21.280,827.34,142.39
4,12.0,4.200,3.360,10.920,10.680,878.41,165.63

In [32]:
wages = [1000,2000,3000,4000,5000]
new_wages = lambda x: x*0.20 + x
list(map(new_wages, wages))

[1200.0, 2400.0, 3600.0, 4800.0, 6000.0]

In [33]:
names = ["deniz", "mercan", "azra", "meriç"]
ages = [20, 36, 25, 21]
cities = ["izmir", "eskişehir", "antalya", "çanakkale"]

list(zip(names, ages, cities))

[('deniz', 20, 'izmir'),
 ('mercan', 36, 'eskişehir'),
 ('azra', 25, 'antalya'),
 ('meriç', 21, 'çanakkale')]

In [36]:
employees = ["Emek", "Arsel", "Kemal", "Bülent"]
low  = lambda x: x[2].lower()
print(list(map(low, employees)))

['e', 's', 'm', 'l']

In [43]:
dict_score = {"Emek":30, "Arsel": 37, "Kemal": 24, "Bülent": 59}
new_dict = {k: v * 2 + 3 for (k,v) in dict_score.items()}
new_dict

{'Emek': 63, 'Arsel': 77, 'Kemal': 51, 'Bülent': 121}

In [46]:
numbers = range(1,20)
{n: n ** 2 for n in numbers if n % 3 == 0}

{3: 9, 6: 36, 9: 81, 12: 144, 15: 225, 18: 324}