In [1]:
print("Hello world")

Hello world

In [2]:
print("Hello AI Era")

Hello AI Era

In [3]:
type(9)

int

In [4]:
type(9.2)

float

In [5]:
5==4

False

In [6]:
x = ["btc","etc","dsl"]
type(x)

list

In [ ]:
x = {"name": "Peter", "Age": 24}
type(x)

dict

In [7]:
x = ("T", "R")
type(x)

tuple

In [8]:
dir(int)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [9]:
len("dilara esmer")

12

In [10]:
"miuul".upper()

'MIUUL'

In [11]:
"MIUUL".lower()

'miuul'

In [12]:
hi = "Hello AI Era"
hi.replace("l", "p")

'Heppo AI Era'

In [13]:
"Hello AI Era".split()

['Hello', 'AI', 'Era']

In [14]:
notes = [1,2,3,4]
type(notes)

list

In [15]:
len(notes)

4

In [16]:
dictionary = {"REG": "Regression"}

In [17]:
dictionary["REG"]

'Regression'

In [18]:
set1 = ([1,2,3])
type(set1)

list

In [19]:
set1 = set([1,2,3])
type(set1)

set

In [20]:
set2 = set([1,2,5])
set1.difference(set2)

{3}

In [21]:
print("a","b","---")

a b ---

In [22]:
print("a","b",sep="---")

a---b

In [23]:
def calculate(x):
  print(x*2)

In [24]:
calculate(5)

10

In [25]:
def summer(arg1, arg2):
  print(arg1+arg2)
  print(summer(7,8))

In [26]:
def say_hi(string):
  print()
  print("Hi")
  print("Hello")

In [27]:
say_hi("miuul")

Hi
Hello

In [28]:
def multiplication(a, b):
                   c= a*b
                   print(c)

In [29]:
multiplication(3,7)

21

In [30]:
list_store = []

In [31]:
def add_element(a,b):
  c=a*b
  list_store.append(c)
  print(list_store)

In [32]:
add_element(2,7)

[14]

In [33]:
def calculate(warm, moisture, charge):
  print((warm+moisture)/charge)
  y = calculate(98,12,78)
  print(y)

In [34]:
 def standardization(a, p):
   return a  * 10 / 100 * p * p
   standardization(45,1)

In [35]:
def standardization(warm, moisture, charge, a, p):
  print(calculate(warm, moisture, charge))
  b=standardization(a,p)
  print(b*10)

In [36]:
if 1==1:
  print("something")

something

In [37]:
if 1==2:
  print("something")

In [38]:
number=10
if number == 10:
  print("number is 10")

number is 10

In [39]:
def number_check(number):
  if number== 10: 
    print("number is 10")
  else:
      print("number is not 10")

In [40]:
number_check(12)

number is not 10

In [41]:
def number_check(number):
  if number > 10:
    print("greater than 10")
  elif number < 10:
    print("less than 10")
  else:
    print("equal to 10")

In [42]:
number_check(12)

greater than 10

In [43]:
students = ["Jhon", "Mark", "Venessa", "Mariam"]
students

['Jhon', 'Mark', 'Venessa', 'Mariam']

In [44]:
for student in students:
  print(student)

Jhon
Mark
Venessa
Mariam

In [45]:
for student in students:
  print(student.upper())

JHON
MARK
VENESSA
MARIAM

In [46]:
salaries = [1000, 2000, 3000, 4000, 5000]

In [47]:
for salary in salaries:
  print(salary)

1000
2000
3000
4000
5000

In [48]:
for salary in salaries:
  print(salary*20/100 + salary)

1200.0
2400.0
3600.0
4800.0
6000.0

In [49]:
for salary in salaries:
  print(int(salary*20/100 + salary))

1200
2400
3600
4800
6000

In [50]:
for salary in salaries:
  print(int(salary*50/100 + salary))

1500
3000
4500
6000
7500

In [51]:
def new_salary(salary, rate):
  return int(salary*rate/100 + salary)

In [52]:
new_salary(1500, 10)

1650

In [55]:
new_salary(2000, 10)

2200

In [53]:
for salary in salaries:
  print(new_salary(salary, 10))

1100
2200
3300
4400
5500

In [54]:
salaries2 = [10700, 25000, 30400, 40300, 50200]

In [56]:
for salary in salaries2:
  print(new_salary(salary, 20))

12840
30000
36480
48360
60240

In [57]:
for salary in salaries:
  if salary >= 3000:
   print(new_salary(salary, 10))
  else: 
   print(new_salary(salary, 20))

1200
2400
3300
4400
5500

In [58]:
range(len("miuul"))
range(0,5)
for i in range(0,5):
   print(i)

0
1
2
3
4

In [59]:
def alternating(string):
  new_string=""
  for string_index in range(len(string)):
    if string_index % 2 == 0:
     new_string += string[string_index].upper()
    else: 
     new_string += string[string_index].lower()
    print(new_string)

In [60]:
"miuul"[1].lower()

'i'

In [61]:
alternating("miuul")

M
Mi
MiU
MiUu
MiUuL

In [62]:
salaries = [1000,2000,3000,4000,5000]
for salary in salaries:
  if salary == 3000:
    break
    print(salary)

In [63]:
salaries = [1000,2000,3000,4000,5000]
for salary in salaries:
  if salary == 3000:
    continue
    print(salary)

In [64]:
number = 1
while number < 5:
  print(number)
  number += 1

1
2
3
4

In [65]:
students = ["Jhon", "Mark", "Venessa", "Mariam"]
for student in students:
  print(student)
for index, student in enumerate(students):
  print(index,student)

Jhon
Mark
Venessa
Mariam
0 Jhon
1 Mark
2 Venessa
3 Mariam

In [66]:
A = []
B = []

for index, student in enumerate(students):
  if index % 2 == 0:
    A.append(student)
  else:
    B.append(student)
  print(index,student)

0 Jhon
1 Mark
2 Venessa
3 Mariam

In [67]:
students = ["Jhon", "Mark", "Venessa", "Mariam"]

In [68]:
def divide_students(students):
  groups = [[], []]
  for index, student in enumerate(students):
    if index % 2 == 0:
      groups[0].append(student)
    else:
      groups[1].append(student)
      print(groups)
      return groups

In [69]:
st = divide_students(students)
st[0]

[['Jhon'], ['Mark']]

['Jhon']

In [70]:
st[1]

['Mark']

In [71]:
def alternating_with_enumerate(string):
  new_string = ""
  for i, letter in enumerate(string):
    if i % 2 == 0:
      new_string += letter.upper()
    else:
        new_string += letter.lower()
    print(new_string)
    alternating_with_enumerate("hi my name is dilara and i am learning python")

In [72]:
students = ["John", "Mark", "Venessa", "Mariam"]
departments = ["mathematics", "statistics", "physics", "astronomy"]
ages = ["23", "30","24", "22"]

In [73]:
list(zip(students, departments, ages))

[('John', 'mathematics', '23'),
 ('Mark', 'statistics', '30'),
 ('Venessa', 'physics', '24'),
 ('Mariam', 'astronomy', '22')]

In [74]:
def summer(a,b):
  return a + b 
  summer(1,3)*9
  new_sum = lambda a, b: a + b
  new_sum(10,2)

In [75]:
salaries = [1000, 2000, 3000, 4000, 5000]
def new_salary(x):
  return x * 20 / 100 + x

  new_salary(5000)

  for salary in salaries:
    print(new_salary(salary))

    list(map(new_salary, salaries))

In [76]:
list(map(lambda x: x * 20 / 100 + x, salaries))

[1200.0, 2400.0, 3600.0, 4800.0, 6000.0]

In [77]:
list(map(lambda x: x ** 2, salaries))

[1000000, 4000000, 9000000, 16000000, 25000000]

In [78]:
list_store = [1,2,3,4,5,6,7,8,9,10]
list(filter(lambda x: x % 2 == 0, list_store))

[2, 4, 6, 8, 10]

In [79]:
from functools import reduce
list_store = [1,2,3,4]
reduce(lambda a, b: a + b, list_store)

10

In [84]:
wages = [10,20,30,40,50]
new_wages = []

for wage in wages:
  if wage < 40:
    new_w = wage * 1.10
    new_wages.append(new_w)
  else:
    new_wages.append(wage)

    print(new_wages)

[11.0, 22.0, 33.0, 40]
[11.0, 22.0, 33.0, 40, 50]

In [85]:
wages = [700, 800, 900, 1000]
[wage*1.1 if wage > 950 else wage*1.2 for wage in wages]

[840.0, 960.0, 1080.0, 1100.0]

In [87]:
students = ["Denise", "Arsen", "Tony", "Audrey"]
[student[2].upper() if len(student) % 2 == 0 else 
 student[2].lower() for student in students]

['N', 's', 'N', 'D']

In [96]:
city_name = ["Londan", "Paris", "Berlin"]

def plate(cities):
  for index in city in enumerate(cities,1):
    print(f"{index} : {city}")
    plate(city_name)